---
http_interactions:
- request:
    method: post
    uri: https://app.resemble.ai/api/v2/projects/{RESEMBLE_PROJECT_ID}/clips
    body:
      encoding: UTF-8
      string: '{"body":"42","voice_uuid":"{RESEMBLE_VOICE_ID}","output_format":"mp3","callback_uri":"{BASE_URL}/api/questions/1070045963/audio"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token={RESEMBLE_API_KEY}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b844c8364debefc5ff7cc6fa9f91f38f"
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"uuid":"81b950f8","body":"42","voice_uuid":"{RESEMBLE_VOICE_ID}","is_public":true,"is_archived":false,"created_at":"2023-04-25T21:43:15.211Z","updated_at":"2023-04-25T21:43:15.211Z"}}'
  recorded_at: Tue, 25 Apr 2023 21:43:15 GMT
recorded_with: VCR 6.1.0
