---
http_interactions:
- request:
    method: post
    uri: https://app.resemble.ai/api/v2/projects/536aae49/clips
    body:
      encoding: UTF-8
      string: '{"body":"42","voice_uuid":"4c6d3da5","output_format":"mp3","callback_uri":"https://b11d-83-10-59-40.ngrok-free.app/api/questions/1070045963/audio"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token={RESEMBLE_API_KEY}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"06875c9a7c2d925cc0b3668b59eae03c"
    body:
      encoding: UTF-8
      string: '{"success":true,"item":{"uuid":"c49f07a2","body":"42","voice_uuid":"4c6d3da5","is_public":true,"is_archived":false,"created_at":"2023-04-24T21:19:46.646Z","updated_at":"2023-04-24T21:19:46.646Z"}}'
  recorded_at: Mon, 24 Apr 2023 21:19:46 GMT
recorded_with: VCR 6.1.0
