/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  max-width: 70ch;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: calc(1vmin + 0.5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  /* fluid sizing: https://frontaid.io/blog/fluid-typography-2d-css-locks-clamp/ */
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  /* use system font stack: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
  font-family: system-ui;
}

/* increase line-height for everything except headings */
body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}

.header {
  margin-top: 5vh;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 30px 0;
  font-size: 24px;
  font-weight: bold;
}

nav li {
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid white;
}
nav li.active {
  border-color: black;
  border-radius: 10px;
}

nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo h1 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 36px;
}

.logo img {
  height: 200px;
  width: 133px;
  margin: 0 auto;
  max-width: 320px;
  max-height: 480px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
main,
footer {
  margin: 1rem auto;
  max-width: 600px;
}

textarea,
button,
.button {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 12px;
}
select {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 18px;
  margin-top: 1rem;
}

button,
.button {
  display: inline-block;
  color: white;
  background: black;
  margin-top: 1rem;
  width: auto;
  padding: 8px 18px;
}
button.secondary {
  background: #eee;
  border-color: #eee;
  color: #444;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

p {
  display: block;
}

a {
  color: inherit;
}

audio {
  display: none;
}
.credits {
  display: block;
  color: #777;
}
